{% extends 'main/base.html' %}

{% load static %}

{% block title %}
Page about us
{% endblock %}

{% block content%}
    <h1>You can contact Mrs Meruyert via email address meruertzb@gmail.com</h1>

    <div class="container-fluid" style='margin-left:600px'>
            <p>
               <a href="https://www.linkedin.com/in/meruert-kolosova-271457a7" target="_blank">LinkedIn</a>
            </p>
    </div>


    <div class="col-sm-6 mx-auto p-auto">
        <img class="img-thumbnail" src="{% static 'main/QR.jpg' %}" class="m-auto p-auto" alt="QR">

    </div>

{% endblock %}
